#note{
	font-size: 12px;
	margin-left: 25%;
	text-align: left;	
}

#note2{
	font-size: 12px;
	margin-left: 25%;		
}

#button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#tcat{
	margin-right: 50%;
	text-align: right;	
}

#tname{
	margin-right: 50%;
	text-align: right;	
}

#tcode{
	margin-right: 50%;
	text-align: right;	
}

#tsize{
	margin-right: 50%;
	text-align: right;	
}

#tpart{
	margin-right: 41.5%;
	text-align: right;	
	vertical-align: center;
}

#trandom{
	margin-left: 25%;
	text-align: left;	
}

#build{
	margin-left: 25%;
}

.tournament_category lable{
	font-size: 30px;
}

.tournament_category input{
	width: 50%;
}

.tournament_name lable{
	font-size: 30px;
}

.tournament_name input{
	width: 50%;
}

.tournament_code lable{
	font-size: 30px;
	width: 50%;
}

.tournament_code input{
	width: 50%;
}

.tournament_size lable{
	font-size: 30px;
	width: 50%;
}

.tournament_size select{
	width: 50.5%;
}

.tournament_participants lable{
	font-size: 30px;
}

.tournament_participants textarea{
	width: 57%;
	vertical-align: top;
}

.tournament_randomize lable{
	text-align: right;
}
