{% extends "base_generic.html" %}

{% block content %}
	<div class=".container-fluid">
	<div class="col-sm-12 text-center">
    <ul style="list-style-type: none">
        <li><p style="font-size: 30px">{{user.username}}</p></li>
        <li><p>First Name: {{user.first_name}}</p></li>
        <li><p>Last Name: {{user.last_name}}</p></li>
        <li><p>Email: {{user.email}}</p></li>
        <li><p>Date Joined: {{user.date_joined}}</p></li>
    </ul>
    <a class="account btn-outline-success btn btn-sm" href="{% url 'update-info' %}">Update</a>
    </div>
    </div>
{% endblock %}