{% extends "base_generic.html" %}

{% block content %}
<div class="row mb-3 mt-4">
  <div class="col-sm-12 text-center">
    <h2>{{user.username}}'s Tournaments</h2>
  </div>
</div>
<hr>
<div class="row mb-3"><div class="col-sm-12 text-center">
    Name | Ref. Code | Status
</div></div> 
<hr>
    
{% if tournament_list %}
  {% for tourn_inst in tournament_list %} 
  <div class="row mb-3">
    <div class="col-sm-12 text-center">
      <a href="/tournament/{{ tourn_inst.reference_code }}" style="color: white">
      {{tourn_inst.name}} | {{tourn_inst.reference_code}} | <i class="status-{{ tourn_inst.status }}" >
      ({{tourn_inst.get_status_display}})</i>
      </a>
    </div>
  </div>
  {% endfor %}
  <div class="col-sm-12 text-center">
  </div>
{% else %}
  <p>You haven't created a tournament.</p>
{% endif %}    

<hr>

<div class="row mt-3">
  <div class="col-sm-12 text-center">
    {% if user.email %}
    
    Username: {{user.username}} <br>
    Name: {{user.first_name}} {{user.last_name}} <br>
    Email: {{user.email}}
    {% else %}
    No contact info provided (password unretrievable).
    {% endif %}
  </div>
</div>
<div class="row mt-1">
  <div class="col-sm-12 text-center">
    <a class="account btn-outline-success btn btn-sm" href="{% url 'update-info' %}">Update Profile</a>
  </div>
</div>
{% endblock %}