/*Bracket-Boys*/
html, body {
	background: radial-gradient(#383737, #3d3c3c);
	color: #FFF;
    font-family: 'Roboto-light', sans-serif;
    font-weight: 300;

}

hr{
	border-top: 1px solid #ccc;
}

.main {
	min-height:50vh;
}

.title {
	font-weight: 700;
}

.title:hover {
}

.index {
	position: absolute;
	top: 30%;
}

.error{
	margin-top: 10;
	background-color: #b33102;
}
input {
	color: #9af3ff;
	background: transparent;
}
::placeholder{
	color: #d4ccc8;
}

/* tournament styling */
.status-w {
	color: #ffbf1c;
}

.status-a {
	color: #5ad64c;
}

.status-c {
	color: #4baad9;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.tmt td {
	text-align: center;
}
.tmt tr:hover td.select{
	background:#237F86
}

.winrar {
	background:#06D165;
}

.loser {
	background:#6B6A69;
}

.sess_player {
	color: #fff700;
}
